@model IEnumerable<ExplainThisCrypto.Models.Coin>

@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#featuredCoins").submit(function (event) {
            event.preventDefault();
            $("#FeaturedCoins").empty();
            $.ajax({
                url: '@Url.Action("GetFeaturedCoins")',
                type: 'GET',
                data: $(this).serialize(),
                dataType: 'json',
                success: function (result) {
                    console.log(result);

                    var stringResult = "<div id='myCarousel' class='carousel slide ' data-interval='4000'><ol class='carousel-indicators' ><li data-target='#myCarousel' data-slide-to='0' class='active'></li><li data-target='#myCarousel' data-slide-to='1'></li><li data-target='#myCarousel' data-slide-to='2'></li><li data-target='#myCarousel' data-slide-to='3'></li></ol ><div class='carousel-inner' role='listbox'>";

                    var active = "active";

                    for (var coin = 0; coin < 4; coin++) {
                        stringResult += "<div class='item " + active + "' style='background-color: grey;'><img src=" + result[coin].logo_url + " alt=" + result[coin].name + "Logo' class='img-responsive' style='max-height:200px;' /> <div class='carousel-caption' role='option'> <h3>" + result[coin].name + " || <em>" + result[coin].symbol + "</em></h3><p>" + result[coin].tagline + " <a class='btn btn-default' href='" + result[coin].website + " '  target='_blank'>Learn More </a></p></div></div>"

                        active = "";
                    }

                    stringResult +=
                        " </div> <a class='left carousel-control' href= '#myCarousel' role= 'button' data-ride='carousel' data-slide='prev'><span class='glyphicon glyphicon-chevron-left' aria-hidden='true'></span><span class='sr-only'>Previous</span></a> <a class='right carousel-control' href='#myCarousel' role='button' data-slide='next'><span class='glyphicon glyphicon-chevron-right' aria-hidden='true'></span><span class= 'sr-only'>Next</span></a></div >";

                    $("#FeaturedCoins").html(stringResult);
                }

            });

        });
        $("#featuredCoins").submit();

    });
</script>

<form id="featuredCoins">

</form>

<div id="FeaturedCoins" style="margin-top:30px;">

</div>

<br />
@foreach (var coin in Model)
{
    <div class="well">
        <div class="row">
            <div class="col-sm-2" style="text-align:center">
                <img src="@Html.DisplayFor(x => coin.Logo_url)" style="max-width:100px; max-height:100px; margin-top:15px;" />
            </div>
            <div class="col-sm-10">
                <h3><strong>@Html.DisplayFor(x => coin.Name)</strong><em> || @Html.DisplayFor(x => coin.Symbol) </em></h3>
                <h4><strong>@Html.DisplayFor(x => coin.Tagline)</strong></h4>
                <h4 style="font-size:13px;">@Html.DisplayFor(x => coin.Description)</h4>
                <a asp-action="Details" asp-route-name="@coin.Name" style="font-size:25px;">What People Say about @coin.Name ..</a>
            </div>
        </div>
    </div>
}


