@model IEnumerable<ExplainThisCrypto.Models.Coin>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Logo_url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tagline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td style="text-align:center">
                <img src="@Html.DisplayFor(modelItem => item.Logo_url)" style="max-width:100px; max-height:100px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tagline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Website)" target="_blank">@Html.DisplayFor(modelItem => item.Website)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CoinId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CoinId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CoinId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
